header,main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
button{
    width: 80px;
    border: none;
    background: none;
    cursor: pointer;

}
button:hover{
    text-decoration: underline;
}